
<div class="card card-body bg-secondary text-white py-5">
    <h2>Contact</h2>
    <p class="lead">La seguente form permette di inviare una E-mail agli amministratori della pagina.</p>
  </div>
  
  <div class="card card-body py-5">
    <h4 class="pb-4">Modulo invio E-mail</h4>
  
        <form>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white">
                  <i class="fas fa-user">
                  </i>
                </span>
              </div>
              <input type="text" class="form-control bg-dark text-white" name="name" [(ngModel)]="name"  placeholder="Name" >
            </div>
          </div>  
  
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white">
                  <i class="fas fa-envelope">
                  </i>
                </span>
              </div>
              <input type="email" class="form-control bg-dark text-white" placeholder="Email" name="email" [(ngModel)]="email">
            </div>
          </div>
  
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white">
                  <i class="fas fa-pencil-alt">
                  </i>
                </span>
              </div>
              <textarea class="form-control bg-dark text-white" placeholder="Name" name="emailtext" [(ngModel)]="emailtext">
                </textarea>
            </div>
          </div>
          <input type="submit" value="Send" (click)="call()"  class="btn btn-dark btn-block btn-lg">
  
        </form>
  </div>