<!--    


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="text-center img-responsive rounded mr-4" width="90px" height="55px" src="../assets/jgalileo.jpg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mx-1">
        <button class="btn btn-danger  navbar-btn btn-block my-2 my-sm-0" type="submit" [routerLink]="['/home']">Home</button>
      </li>
      <li class="nav-item mx-1">
        <button class="btn btn-primary navbar-btn btn-block my-2 my-sm-0" type="submit" [routerLink]="['/about']">About</button>
      </li>
    <li class="nav-item mx-1">
    <button class="btn btn-success navbar-btn  btn-block my-2 my-sm-0" type="submit" [routerLink]="['/contact']">Contact</button>
  </li>
    </ul>

  </div>
</nav>
-->







<div class="container mt-2 p-3" id="header">

  <div class="container p-3 pb-1 my-1 rounded  text-white border-4 " id="header">
    <div class="row">
      <div class="col-lg-2 col-sm-12">
        <div class="row pb-1 border-top border-left border-right">
          <button class="btn btn-block btn-dark" [routerLink]="['/home']">  <i class="fas fa-home"></i>   Home</button>
        </div>
        <div class="row pb-1 border-left border-right ">
          <button class="btn btn-block btn-dark " [routerLink]="['/about']"><i class="fas fa-info-circle"></i> About</button>
        </div>
        <div class="row border-left border-right border-bottom">
          <button class="btn btn-block btn-dark" [routerLink]="['/contact']"><i class="far  fa-address-book"></i> Contact</button>
        </div>
      </div>
      <div class="col-lg-1 col-sm-0"></div>
      <div class="col-lg-9 col-sm-0 d-none d-md-block">
        <h2>Soluzione ideata da Sanmarco Informatica</h2>
        <p>This container has a blue background color and a white text, and some extra padding.</p>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>

</div>
