<!--    

-->
<div class="container mt-2 p-3" id="header">

  <div class="container p-3 pb-1 my-1 rounded  text-white border-4 " id="header">
    <div class="row">

  

      <div class="col-lg-2 col-sm-0 d-none d-md-block pl-0">
        <img  src="{{LOGO}}" class="rounded" alt="sanmarco" width= "130px" height= "130px">
      </div>

      <div class="col-lg-8 pl-4 col-sm-0 d-none d-md-block pt-4">
        <h2>Soluzione ideata da Sanmarco Informatica</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing Nostrum, accusamus?</p>
      </div>


      <div class="col-lg-2 col-sm-12">
        <div class="row pb-1 border-top border-left border-right">
          <button class="btn btn-block btn-light custom-btn" [routerLink]="['/home']">  <i class="fas fa-home"></i>   Home</button>
        </div>
        <div class="row pb-1 border-left border-right ">
          <button class="btn btn-block btn-light custom-btn" [routerLink]="['/admin']"><i class="fas fa-unlock-alt"></i> Admin  </button>
        </div>
        <div class="row border-left border-right border-bottom">
          <button class="btn btn-block btn-light custom-btn" [routerLink]="['/contact']"><i class="far  fa-address-book"></i> Contact</button>
        </div>
      </div>

   

    </div>
  </div>

  <router-outlet>

  <ngx-spinner type="ball-spin-clockwise" size="medium">
    <div class="text-white">
      <p class="loading">Login in corso...</p>
    </div>
  </ngx-spinner>

  </router-outlet>


</div>
