<div class="jumbotron mt-3">

    <h4 class="text-center"> Acceso riservato all'utente amministratore! <i class="fas fa-user-lock"></i> </h4>
    <br>



    <div class="container p-4">
      
            <div class="row center">
                <div class="col-10 ">
                    <input type="password" class="form-control " placeholder="{{hint}}"
                        name="text" id="myInput" (change)="onPasswordEntered($event)">
                </div>
                <div class="col-2 pl-0">
                    <button type="submit" class="btn btn-secondary" (click)="authentication($event)">Submit</button>
                </div>
            </div>
        
    </div>

<br> <br>


<div class="container"  *ngIf="hideTable">
    <table class="table table-hover table-striped">

      <thead class="table-dark ">
        <tr>
         
          <th>#</th>
          <th>PIVA</th>
          <th>Doc. caricati</th>
          <th>Ultima data</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="">
  
        <tr *ngFor="let item_list of response.message; let i = index">
          <td>{{i}}</td>
          <td>{{item_list.PIVA}}</td>
          <td>{{item_list.visitTot}}</td>
          <td>{{item_list.DOCS[0].dataInsert}}</td>
          <td><i class="fas fa-arrow-circle-down"></i></td>  
        </tr>
       
      </tbody>
    </table>
  </div>




</div>